.questionContainer {
  min-height: var(--app-height);
  display: grid;
  grid-template-rows: fit-content(0) auto 100px;
  gap: 10px 0;
  background-color: #a3d4d2;
  opacity: 1;
  transition: opacity 500ms ease;
}
.questionContainer.hidden {
  opacity: 0;
}
.questionContainer.image_picker {
  grid-template-rows: fit-content(0) auto 100px 100px;
}
.dottedBackground {
  opacity: 1;
  transition: opacity 500ms ease;
}
.dottedBackground.hidden {
  opacity: 0;
}
.dottedBackground .container {
  transform: translateY(50%);
  opacity: 1;
  transition: transform 500ms ease, opacity 500ms ease;
}
.dottedBackground .container.hidden {
  transform: translateY(40%);
  opacity: 0;
}
.dottedBackground .container div {
  max-height: 80px;
}
.dottedBackground .container .hint {
  margin-top: 10px;
}
.appearing {
  opacity: 1;
  transition: opacity 500ms ease;
}
.appearing.hidden {
  opacity: 0;
}
