body, html {
    padding: 0;
    margin: 0;
}

#gradientContainer {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
}

#gradientDiv {
    position: absolute
}

#colorDiv {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    background: red;
}